.table-responsive.row
  .col-md-11
    %b CloudWatch
    %table.table
      %thead
        %tr
          - unless @cloudwatch.to_a.empty?
            %th InstanceID
            - title = @cloudwatch.first.last 
            - title.sort.each do |metric,value|
              - unless value.to_a.empty? || metric.nil?
                %th= metric 
      %tbody
        %tr
          - unless @cloudwatch.to_a.empty?
            - @cloudwatch.sort.each do |instance,metric|
              %tr
                %td= instance
                - metric.sort.each do |title,key|
                  - key.each do |value| 
                    - unless key.to_a.empty?
                      - case value['Unit']
                      - when 'Percent'
                        - unit = '%'
                      - when 'Count'
                        - unit = ''
                      - else
                        - unit = value['Unit']
                      %td= "#{value['Maximum'].round(2)} #{unit}"
.table-responsive.row
  .col-md-6
    %b Active Compute Instances
    %table.table
      %thead
        %tr
          %th Instance
          %th Instance Type
          %th Uptime
          %th Name
      %tbody
        - @compute.sort.each do |instance,value|
          %tr
            %td= instance
            %td= value['instancetype']
            - if value['uptime'] >= 25 
              - a_uptime = (value['uptime'] / 24).round(1)
              - hdmy = 'days'
            - elsif value['uptime'] == 24 
              - a_uptime = (value['uptime'] / 24).round(1)
              - hdmy = 'day'
            - else
              - a_uptime = value['uptime']
              - hdmy = 'hours'
            %td= "#{a_uptime} #{hdmy}"
            %td= value['tags']['Name'] unless value['tags']['Name'].nil?
          %tr
            %td= " "
            %td= " "
            %td= " "
            %td= " "
  .col-md-6
    %b Active Reserved Instance Commits
    %table.table
      %thead
        %tr
          %th Instance
          %th Reserved Instance 
          %th Commit
          %th Usage Level
          %th Graphs
          %th.collapse.out{"id" => "table-collapse"}
      %tbody
        - @reserved.sort.each do |instance,value|
          %tr
            %td= "#{value['instanceid']}"
            %td= "#{instance}"
            %td= "#{value['duration']} year"
            %td= "#{value['offeringType']}"
            %td
              %a{"data-target" => "#table-collapse-#{value['instanceid']}", "data-toggle" => "collapse", "href" => "#"}
                Graph
          %tr
            - GraphFind.get_graphs(value['instanceType'], value['availabilityZone'][0..-2], "year#{value['duration']}", value['offeringType']).each do |file| 
              %td= " "
              %td.collapse.out{"id" => "table-collapse-#{value['instanceid']}"}
                %object{ :type => "image/svg+xml", :data => "/assets/#{file}", :width => "350", :height => "350"}
              %td= " "
              %td= " "
              %td= " "
              %td= " "
