%b Active Reserved Instance Commits
- @reserved.each do |key,value| 
  %p
    %h4 
      ReservedID: 
      %small.text-success= "#{key} "
      InstanceID: 
      %small.text-success= "#{value['instanceid']} "
      CommitTerm: 
      %small.text-success= "#{value['duration']} year "
      Usage: 
      %small.text-success= "#{value['offeringType']}"
  - GraphFind.get_graphs(value['instanceType'], value['availabilityZone'][0..-2], "year#{value['duration']}", value['offeringType']).each do |file| 
    %object{ :type => "image/svg+xml", :data => "/assets/#{file}", :width => "500", :height => "250"}
%br
%hr
%b Active Compute Instances
- @output.each do |instance, values| 
  %h4 
    InstanceID: 
    %small.text-success= "#{instance} "
    InstanceType: 
    %small.text-success= "#{values['instancetype']}"
    - values['tags'].each do |key,tags| 
      = "#{key}: "
      %small.text-success= "#{tags} "
